<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="icon" href="assets/images/logo.png" type="image/png">
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body class="bg-light">

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        

        <div class="card">
          <a href="/"><img src="assets/images/1.png" style="height: 250px; object-fit: cover;" class="card-img-top img-fluid" alt="Login Image"></a>
          
          <div class="card-body">
            <h1 class="card-title text-center">Login</h1>
            <p class="text-center text-danger"><%= message %></p>
            <form action="/login" method="post">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" name="email" required>
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <button type="submit" class="btn btn-danger btn-block">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if (messages && messages.length > 0) { %>
    <script>
      // Display SweetAlert with flash message
      Swal.fire({
        title: 'Success',
        text: '<%= messages[0] %>',
        icon: 'success',
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'OK'
      });
    </script>
  <% } %>
  <!-- Include Bootstrap JS and Popper.js (required for some Bootstrap features) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
